CLIENT_URL=
BACKEND_URL=

DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_HOST=
DB_DRIVER=

JWT_SECRET=

GOOGLE_CLIENT_ID=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_BUCKET=
SUPABASE_AUDIO_BUCKET=

# Microsoft Azure Cognitive Speech (TTS) Configuration
# Leave empty to automatically fallback to Google Translate TTS
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION= //dùng giọng đọc cao cấp hơn đọc từ vựng
